<div id="page-wrapper">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="index.html">Edmund Li</a></h1>
				<nav id="nav">
					<ul>
						<li class="special">
							<a href="#menu" class="menuToggle"><span>Menu</span></a>
							<div id="menu">
								<ul>
									<li><a href="index.html">Home</a></li>
									<li><a href="generic.html">Generic</a></li>
									<li><a href="elements.html">Elements</a></li>
									<li><a href="#">Sign Up</a></li>
									<li><a href="#">Log In</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>Edmund Li</h2>
					<p>I am a software developer<br /></p>
				</div>
				<a href="#one" class="more scrolly">Learn More</a>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="inner">
					<header class="major">
						<h2>About me</h2>
						<p>I am a software developer with experience in Ruby, Rails, Javascript, and React.js.<br />
						</p>
					</header>
					<ul class="icons major">
						<li><i class="icon major devicon-ruby-plain-wordmark"></i></li>
						<li><i class="icon major devicon-rails-plain-wordmark"></i></li>
						<li><i class="icon major devicon-javascript-plain"></i></li>
						<li><i class="icon major devicon-react-original-wordmark"></i></li>
						<li><i class="icon major devicon-jquery-plain-wordmark"></i></li>
						<li><i class="icon major devicon-html5-plain-wordmark"></i></li>
						<li><i class="icon major devicon-bootstrap-plain-wordmark"></i></li>
						<li><i class="icon major devicon-postgresql-plain-wordmark"></i></li>
						<li><i class="icon major devicon-nodejs-plain-wordmark"></i></li>
						<li><i class="icon major devicon-git-plain-wordmark"></i></li>
						<li><i class="icon major devicon-photoshop-line"></i></li>
					</ul>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper alt style2">
				<section class="spotlight">
					<div class="image"><%= image_tag("p01.png") %></div><div class="content">
						<h3>Photogrify.me</h3>
						<p>A full stack photo collection app built with React.js on Rails.</p>
						<ul>
							<li>Integration w/ Cloudinary API delivers fast image loading experience</li>
							<li>Integration w/ Google Maps API and geolocation base query shows where photos are taken</li>
							<li>Auto save in creating and editing to ensure data security and balance database performance</li>
							<li>Drag and drop feature makes it easy for user to organize photos</li>
							<li>Single page built with Flux architecture, highly modularized components for maintainability</li>
						</ul>
					</div>
				</section>
				<section class="spotlight">
					<div class="image"><%= image_tag("p02.png") %></div><div class="content">
						<h3>Supersonic Paper Plane</h3>
						<p>Fun, time survial game built with HTML5 canvas, inspred by Tilt to Live</p>
						<ul>
							<li>Smooth 60 FPS frame rate fine tuned by using requestAnimationFrame</li>
							<li>Linked list data structure powered object pooling algorithm delivers smooth game experience</li>
							<li>AI enemy movement logic offers fun and intensive challenges</li>
							<li>Object oriented design and prototypal inheritance maintains a DRY and flexible code base</li>
							<li>Dual canvas rendering design for rich game interface</li>
							<li>Combo points algorithm delivers fun game experience</li>
						</ul>
					</div>
				</section>
				<section class="spotlight">
					<div class="image"><img src="images/pic03.jpg" alt="" /></div><div class="content">
						<h3>Augue eleifend aliquet<br />
						sed condimentum</h3>
						<p>Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
					</div>
				</section>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper style4">
				<div class="inner">
					<header>
						<h2>Arcue ut vel commodo</h2>
						<p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
					</header>
					<ul class="actions vertical">
						<li><a href="#" class="button fit special">Activate</a></li>
						<li><a href="#" class="button fit">Learn More</a></li>
					</ul>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</footer>

	</div>
