html, body, canvas {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
	background: url('bg.jpg') no-repeat center center fixed;
}

#game-canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	border: 3px solid lightgreen;
	border-radius: 20px;
}

#game-background {
	position: absolute;
}

.modal {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 30%;
	height: 20%;
	border: 1px solid lightgreen;
	border-radius: 10px;
	background: rgba(0,0,0,0.5);
	color: white;
	font-family: arial;
	box-shadow: 3px 3px 3px black;
}

.show {
	z-index: 100;
	opacity: 1;
}

.hide {
	z-index: -10;
	opacity: 0;
}

.modal-title {
	text-align: center;
	padding: 5%;
	font-size: x-large;
}

.btn {
	text-align: center;
	padding: 2%;
	margin-left: 30%;
	margin-right: 30%;
	font-size: large;
	font-weight: 800;
	border: 1px solid lightgreen;
	border-radius: 5%;
	background-color: white;
	color: black;
	box-shadow: 5px 5px;
}

.btn:hover {
	cursor: pointer;
	background-color: black;
	color: white;
	box-shadow: none;
}

#timer {
	position: absolute;
	top: 0;
	right: 0;
	padding: 3%;
	color: 'red';
}